<<<<<<< HEAD
﻿@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>How about shopping for some more music in our 
    @Html.ActionLink("store", "Index", "Home")
</p>
=======
﻿@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>How about shopping for some more music in our 
    @Html.ActionLink("store", "Index", "Home")
</p>
>>>>>>> f7e1c408a0b64498a39030ae5cde1dadf746cb25
