<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
=======
﻿@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
>>>>>>> f7e1c408a0b64498a39030ae5cde1dadf746cb25
